@import 'tailwindcss';

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}
/* @font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.woff2') format('woff2');
  font-weight: 400;
  font-display: optional;
} */

@theme {
  /* Typography */
  /* --font-display: 'Satoshi', sans-serif; */
  /* --font-body: 'Inter', sans-serif; */
  --font-body: 'Satoshi', sans-serif;

  /* Breakpoints */
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Brand Colors */
  /* --color-primary: oklch(0.78 0.21 313);
  --color-secondary: oklch(0.75 0.24 35);
  --color-accent: oklch(0.92 0.12 100);
  --color-bg: oklch(0.12 0.02 250);
  --color-surface: oklch(0.18 0.03 250);
  --color-text: oklch(0.97 0.01 250);       */

  --color-primary: oklch(0.65 0.24 25);
  --color-secondary: oklch(0.55 0.17 15);
  --color-accent: oklch(0.85 0.1 75);
  --color-bg: oklch(0.14 0.03 30);
  --color-surface: oklch(0.18 0.02 30);
  --color-text: oklch(0.95 0.02 90);

  /* --color-primary:  oklch(0.8 0.25 295);
--color-secondary: oklch(0.75 0.23 165);
--color-accent:    oklch(0.9 0.2 95);
--color-bg:        oklch(0.1 0.01 250);
--color-surface:   oklch(0.18 0.01 250);
--color-text:      oklch(0.98 0.01 250); */

  /* --color-primary:  oklch(0.68 0.22 340);
--color-secondary: oklch(0.48 0.18 10);
--color-accent:    oklch(0.74 0.18 55);
--color-bg:        oklch(0.12 0.02 250);
--color-surface:   oklch(0.16 0.03 250);
--color-text:      oklch(0.97 0.01 250);  */

  /* Easings */
  --ease-fast: cubic-bezier(0.3, 0, 0, 1);
  --ease-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@layer base {
  html,
  body,
  #app {
    height: 100%;
  }

  html {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-body);
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }

  .font-body {
    font-family: var(--font-body);
  }
}
